{
  "openapi": "3.1.0",
  "info": {
    "title": "Valyd ID API",
    "version": "1.11.0",
    "summary": "Standards-based OpenID Connect for verified profiles, licenses, and identity claims.",
    "description": "Valyd ID implements one standards-based OIDC namespace at /api/auth/oidc/*, plus discovery. UserInfo returns top-level OIDC claims. Credentials are created in the Developer Portal; keep client_secret and token exchange server-side. Since 2026-09-18 the OIDC protocol endpoints (authorize, token, userinfo, register, logout) follow OAuth 2.0 / OIDC exactly: PKCE S256 is required on every authorization request, authorization errors are redirected to the client's redirect_uri with `error`, `error_description`, `state` and `iss` (RFC 9207), and token / userinfo / register errors use the standard `OAuthError` body `{error, error_description}` (RFC 6749 §5.2 / RFC 6750 / RFC 7591). All other Valyd APIs keep the `{success, data, error:{code,message}}` envelope (`Error`).",
    "contact": {
      "name": "Valyd Developer Docs",
      "url": "https://docs.valyd.work/docs/overview.md"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://docs.valyd.work"
    }
  },
  "servers": [
    {
      "url": "https://idp.valyd.work",
      "description": "Valyd ID host"
    }
  ],
  "tags": [
    {
      "name": "OIDC Resources",
      "description": "Bearer-token profile, license, and verification resources under the canonical OIDC namespace."
    },
    {
      "name": "OIDC",
      "description": "Standards-based OpenID Connect endpoints."
    },
    {
      "name": "Consent",
      "description": "Consent-gated release of RAW account attributes (Valyd 1.0 §2). Every other Account API returns proofs only (pseudonym, id_verified, badges, age bands) and never raw KYC. This is the only path by which raw attributes leave Valyd, and only after the subject approves in their Valyd app. The payload is sealed to YOUR X25519 public key, so Valyd cannot read it unless you opt into managed custody."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/.well-known/openid-configuration": {
      "get": {
        "tags": [
          "OIDC"
        ],
        "summary": "OIDC discovery document",
        "description": "OpenID Connect discovery document for auto-configuration. Public; returns bare JSON.",
        "operationId": "oidcDiscovery",
        "security": [],
        "responses": {
          "200": {
            "description": "Discovery document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OidcDiscovery"
                },
                "example": {
                  "issuer": "https://idp.valyd.work",
                  "authorization_endpoint": "https://idp.valyd.work/api/auth/oidc/authorize",
                  "token_endpoint": "https://idp.valyd.work/api/auth/oidc/token",
                  "userinfo_endpoint": "https://idp.valyd.work/api/auth/oidc/userinfo",
                  "jwks_uri": "https://idp.valyd.work/api/auth/oidc/jwks.json",
                  "response_types_supported": [
                    "code"
                  ],
                  "grant_types_supported": [
                    "authorization_code",
                    "refresh_token"
                  ],
                  "subject_types_supported": [
                    "public"
                  ],
                  "id_token_signing_alg_values_supported": [
                    "RS256"
                  ],
                  "scopes_supported": [
                    "openid",
                    "profile",
                    "email",
                    "verifications",
                    "zkp"
                  ],
                  "token_endpoint_auth_methods_supported": [
                    "client_secret_post",
                    "client_secret_basic",
                    "none"
                  ],
                  "claims_supported": [
                    "sub",
                    "iss",
                    "aud",
                    "exp",
                    "iat",
                    "name",
                    "email",
                    "preferred_username",
                    "first_name",
                    "last_name"
                  ],
                  "end_session_endpoint": "https://idp.valyd.work/api/auth/oidc/logout",
                  "response_modes_supported": [
                    "query"
                  ],
                  "code_challenge_methods_supported": [
                    "S256"
                  ],
                  "prompt_values_supported": [
                    "none",
                    "login",
                    "consent",
                    "select_account"
                  ],
                  "claim_types_supported": [
                    "normal"
                  ],
                  "request_parameter_supported": false,
                  "request_uri_parameter_supported": false,
                  "claims_parameter_supported": false,
                  "frontchannel_logout_supported": false,
                  "backchannel_logout_supported": false,
                  "authorization_response_iss_parameter_supported": true
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/oidc/authorize": {
      "get": {
        "tags": [
          "OIDC"
        ],
        "summary": "OIDC authorization (browser redirect)",
        "description": "Standard OpenID Connect authorization-code entry point (OIDC Core §3.1.2). A browser redirect to the Valyd login/consent screen, not a JSON API call. Accepts GET (query) and POST (form). PKCE S256 is REQUIRED for every client. Once `client_id` and `redirect_uri` are verified, every error is redirected to `redirect_uri` as `?error=…&error_description=…&state=…&iss=…`; only an unknown client or unregistered `redirect_uri` renders an HTML error page.",
        "operationId": "oidcAuthorize",
        "security": [],
        "parameters": [
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            },
            "description": "Must be `code` (the only supported response type)."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Must exactly match a registered redirect URI."
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "openid profile email"
              ]
            },
            "description": "Space-separated scopes; must include `openid`."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Recommended (CSRF). Echoed back verbatim on the callback — only if sent. No minimum length."
          },
          {
            "name": "nonce",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Recommended. Copied into the ID token — the ID token contains `nonce` only if you sent one."
          },
          {
            "name": "code_challenge",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 43,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]{43,128}$"
            },
            "description": "PKCE (RFC 7636): BASE64URL(SHA256(code_verifier)). Required for every client, public and confidential. Missing → `error=invalid_request`."
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "S256"
              ]
            },
            "description": "Must be `S256`; `plain` is not supported."
          },
          {
            "name": "prompt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "none",
                "login",
                "consent",
                "select_account",
                "login consent"
              ]
            },
            "description": "Space-separated `none` / `login` / `consent` / `select_account` (`none` cannot be combined). `none` → silent: `error=login_required` or `consent_required` instead of UI. `login` / `select_account` force re-authentication; `consent` forces the consent screen."
          },
          {
            "name": "max_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Maximum authentication age in seconds; older sign-ins must re-authenticate. The ID token always carries `auth_time`."
          },
          {
            "name": "id_token_hint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A previously issued ID token. With `prompt=none`, a different signed-in user → `login_required`."
          },
          {
            "name": "login_hint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Passed through to the sign-in screen."
          },
          {
            "name": "resource",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "RFC 8707 resource indicator; becomes the access token `aud`."
          },
          {
            "name": "response_mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "query"
              ]
            },
            "description": "Only `query` is supported."
          },
          {
            "name": "request",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Not supported → `error=request_not_supported`."
          },
          {
            "name": "request_uri",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Not supported → `error=request_uri_not_supported`."
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the Valyd login/consent screen; on completion, redirects back to `redirect_uri` with `code`, `state` (if sent) and `iss` (RFC 9207). On error (after client + redirect_uri are verified): `redirect_uri?error=…&error_description=…&state=…&iss=…` with `error` ∈ `invalid_request`, `unsupported_response_type`, `invalid_scope`, `invalid_target`, `access_denied`, `login_required`, `consent_required`, `request_not_supported`, `request_uri_not_supported`, `server_error`.",
            "headers": {
              "Location": {
                "description": "Consent screen, or the client callback carrying `code`/`state`/`iss` or `error`/`error_description`/`state`/`iss`.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Unknown `client_id` or unregistered `redirect_uri` — an HTML error page is shown and the browser is NOT redirected.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "OIDC"
        ],
        "summary": "OIDC authorization (form POST)",
        "description": "Same as GET, with the parameters in an `application/x-www-form-urlencoded` body (OIDC Core §3.1.2.1).",
        "operationId": "oidcAuthorizePost",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "response_type",
                  "client_id",
                  "redirect_uri",
                  "scope",
                  "code_challenge",
                  "code_challenge_method"
                ],
                "properties": {
                  "response_type": {
                    "type": "string",
                    "enum": [
                      "code"
                    ],
                    "description": "Must be `code` (the only supported response type)."
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "format": "uri",
                    "description": "Must exactly match a registered redirect URI."
                  },
                  "scope": {
                    "type": "string",
                    "examples": [
                      "openid profile email"
                    ],
                    "description": "Space-separated scopes; must include `openid`."
                  },
                  "state": {
                    "type": "string",
                    "description": "Recommended (CSRF). Echoed back verbatim on the callback — only if sent. No minimum length."
                  },
                  "nonce": {
                    "type": "string",
                    "description": "Recommended. Copied into the ID token — the ID token contains `nonce` only if you sent one."
                  },
                  "code_challenge": {
                    "type": "string",
                    "minLength": 43,
                    "maxLength": 128,
                    "pattern": "^[A-Za-z0-9_-]{43,128}$",
                    "description": "PKCE (RFC 7636): BASE64URL(SHA256(code_verifier)). Required for every client, public and confidential. Missing → `error=invalid_request`."
                  },
                  "code_challenge_method": {
                    "type": "string",
                    "enum": [
                      "S256"
                    ],
                    "description": "Must be `S256`; `plain` is not supported."
                  },
                  "prompt": {
                    "type": "string",
                    "examples": [
                      "none",
                      "login",
                      "consent",
                      "select_account",
                      "login consent"
                    ],
                    "description": "Space-separated `none` / `login` / `consent` / `select_account` (`none` cannot be combined). `none` → silent: `error=login_required` or `consent_required` instead of UI. `login` / `select_account` force re-authentication; `consent` forces the consent screen."
                  },
                  "max_age": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Maximum authentication age in seconds; older sign-ins must re-authenticate. The ID token always carries `auth_time`."
                  },
                  "id_token_hint": {
                    "type": "string",
                    "description": "A previously issued ID token. With `prompt=none`, a different signed-in user → `login_required`."
                  },
                  "login_hint": {
                    "type": "string",
                    "description": "Passed through to the sign-in screen."
                  },
                  "resource": {
                    "type": "string",
                    "format": "uri",
                    "description": "RFC 8707 resource indicator; becomes the access token `aud`."
                  },
                  "response_mode": {
                    "type": "string",
                    "enum": [
                      "query"
                    ],
                    "description": "Only `query` is supported."
                  },
                  "request": {
                    "type": "string",
                    "description": "Not supported → `error=request_not_supported`."
                  },
                  "request_uri": {
                    "type": "string",
                    "description": "Not supported → `error=request_uri_not_supported`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "302": {
            "description": "Redirect to the Valyd login/consent screen; on completion, redirects back to `redirect_uri` with `code`, `state` (if sent) and `iss` (RFC 9207). On error (after client + redirect_uri are verified): `redirect_uri?error=…&error_description=…&state=…&iss=…` with `error` ∈ `invalid_request`, `unsupported_response_type`, `invalid_scope`, `invalid_target`, `access_denied`, `login_required`, `consent_required`, `request_not_supported`, `request_uri_not_supported`, `server_error`.",
            "headers": {
              "Location": {
                "description": "Consent screen, or the client callback carrying `code`/`state`/`iss` or `error`/`error_description`/`state`/`iss`.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Unknown `client_id` or unregistered `redirect_uri` — an HTML error page is shown and the browser is NOT redirected.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/oidc/token": {
      "post": {
        "tags": [
          "OIDC"
        ],
        "summary": "OIDC token exchange",
        "description": "Exchange an authorization code (with its PKCE `code_verifier`) or a refresh token for tokens. Client authentication: `client_secret_basic` (HTTP Basic, credentials form-urlencoded per RFC 6749 §2.3.1) OR `client_secret_post` — using both → `invalid_request`. Public first-party clients use `none` + PKCE. A replayed authorization code is rejected and revokes every token it already produced. Refresh tokens rotate; replaying an old one revokes the family. The access token is an RFC 9068 JWT (`typ: at+jwt`, `sub` = the user's valyd id). Errors use `OAuthError` with `Cache-Control: no-store`.",
        "operationId": "oidcToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code",
                      "refresh_token"
                    ]
                  },
                  "code": {
                    "type": "string",
                    "description": "Required for `authorization_code`. Single-use."
                  },
                  "redirect_uri": {
                    "type": "string",
                    "format": "uri",
                    "description": "Required for `authorization_code`; must equal the value sent to /authorize."
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Required for `client_secret_post` and public clients; omit when using HTTP Basic."
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Required for `client_secret_post`. Do not combine with HTTP Basic."
                  },
                  "code_verifier": {
                    "type": "string",
                    "minLength": 43,
                    "maxLength": 128,
                    "description": "Required for `authorization_code` — the PKCE verifier whose S256 hash was sent as `code_challenge`."
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "Required for `refresh_token`."
                  },
                  "scope": {
                    "type": "string",
                    "description": "`refresh_token` only, optional: narrow the new access token to a subset of the granted scopes (widening → `invalid_scope`)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens issued (bare OIDC token response — not enveloped).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OidcTokenResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/OAuthBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/OAuthInvalidClient"
          }
        }
      }
    },
    "/api/auth/oidc/userinfo": {
      "get": {
        "tags": [
          "OIDC Resources"
        ],
        "summary": "Get user profile",
        "description": "Retrieve the authenticated user's claims (OIDC Core §5.3). Requires a token with the `openid` scope; claims are filtered by the granted scopes (`profile`, `email`, `phone`). The token goes in `Authorization: Bearer` (GET/POST) or, for POST, a form-body `access_token` — not both. Errors follow RFC 6750 with a `WWW-Authenticate: Bearer` header.",
        "operationId": "oidcUserinfo",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoResponse"
                },
                "example": {
                  "sub": "valyd_225c7f2ac450496f97bbbc57354a5898",
                  "valyd_id": "valyd_225c7f2ac450496f97bbbc57354a5898",
                  "preferred_username": "johndoe",
                  "email": "user@example.com",
                  "name": "John Doe",
                  "id_verified": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BearerBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/BearerInvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/BearerInsufficientScope"
          }
        }
      },
      "post": {
        "tags": [
          "OIDC Resources"
        ],
        "summary": "Get user profile (POST)",
        "description": "Same as GET. The access token may be sent as `Authorization: Bearer` or as a form-body `access_token` (RFC 6750 §2.2) — not both (`invalid_request`).",
        "operationId": "oidcUserinfoPost",
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "Alternative to the Authorization header."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoResponse"
                },
                "example": {
                  "sub": "valyd_225c7f2ac450496f97bbbc57354a5898",
                  "valyd_id": "valyd_225c7f2ac450496f97bbbc57354a5898",
                  "preferred_username": "johndoe",
                  "email": "user@example.com",
                  "name": "John Doe",
                  "id_verified": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BearerBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/BearerInvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/BearerInsufficientScope"
          }
        }
      }
    },
    "/api/auth/oidc/logout": {
      "get": {
        "tags": [
          "OIDC"
        ],
        "summary": "RP-initiated logout (end_session_endpoint)",
        "description": "OpenID Connect RP-Initiated Logout 1.0. Ends the user's Valyd session in this browser and revokes the calling app's tokens for the user, then redirects. Advertised in discovery as `end_session_endpoint`.",
        "operationId": "oidcLogout",
        "security": [],
        "parameters": [
          {
            "name": "id_token_hint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Recommended. The ID token issued to this client (an expired one is accepted). Without a valid hint the user sees a \"Sign out of Valyd?\" confirmation page."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Identifies the client when no id_token_hint is sent."
          },
          {
            "name": "post_logout_redirect_uri",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Must be registered for the client. First-party clients: their post-logout URI list. Developer-portal apps: one of their registered redirect URIs (transitional until 2026-12-01). Unregistered → error page."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Appended to the post-logout redirect."
          }
        ],
        "responses": {
          "200": {
            "description": "HTML page — the \"Sign out of Valyd?\" confirmation (no valid id_token_hint), or the signed-out page when no post_logout_redirect_uri was given.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "302": {
            "description": "Valyd session ended in this browser (cookies cleared, refresh token revoked, IdP web-app storage cleared) and the client's tokens for the user revoked; redirect to `post_logout_redirect_uri` (+ `state`).",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "HTML error page — e.g. unregistered `post_logout_redirect_uri`.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "OIDC"
        ],
        "summary": "RP-initiated logout (form POST)",
        "description": "Same as GET with the parameters in an `application/x-www-form-urlencoded` body.",
        "operationId": "oidcLogoutPost",
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "id_token_hint": {
                    "type": "string",
                    "description": "Recommended. The ID token issued to this client (an expired one is accepted). Without a valid hint the user sees a \"Sign out of Valyd?\" confirmation page."
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Identifies the client when no id_token_hint is sent."
                  },
                  "post_logout_redirect_uri": {
                    "type": "string",
                    "format": "uri",
                    "description": "Must be registered for the client. First-party clients: their post-logout URI list. Developer-portal apps: one of their registered redirect URIs (transitional until 2026-12-01). Unregistered → error page."
                  },
                  "state": {
                    "type": "string",
                    "description": "Appended to the post-logout redirect."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "HTML page — the \"Sign out of Valyd?\" confirmation (no valid id_token_hint), or the signed-out page when no post_logout_redirect_uri was given.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "302": {
            "description": "Valyd session ended in this browser (cookies cleared, refresh token revoked, IdP web-app storage cleared) and the client's tokens for the user revoked; redirect to `post_logout_redirect_uri` (+ `state`).",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "HTML error page — e.g. unregistered `post_logout_redirect_uri`.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/oidc/register": {
      "post": {
        "tags": [
          "OIDC"
        ],
        "summary": "Dynamic Client Registration (RFC 7591)",
        "description": "Only available when enabled on the deployment (then advertised as `registration_endpoint` in discovery); protected by an initial-access Bearer token. Errors use `OAuthError` (RFC 7591 §3.2.2).",
        "operationId": "oidcRegister",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "redirect_uris"
                ],
                "properties": {
                  "redirect_uris": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "client_name": {
                    "type": "string"
                  },
                  "scope": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client registered (RFC 7591 client information response).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "`invalid_redirect_uri` or `invalid_client_metadata`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                },
                "example": {
                  "error": "invalid_redirect_uri",
                  "error_description": "redirect_uris (non-empty array) is required"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/BearerInvalidToken"
          },
          "403": {
            "description": "`access_denied` — dynamic registration is disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                },
                "example": {
                  "error": "access_denied",
                  "error_description": "Dynamic client registration is disabled"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/oidc/jwks.json": {
      "get": {
        "tags": [
          "OIDC"
        ],
        "summary": "JSON Web Key Set",
        "description": "Public keys (RS256) for validating ID-token (JWT) signatures.",
        "operationId": "oidcJwks",
        "security": [],
        "responses": {
          "200": {
            "description": "JWKS document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/attribute-request": {
      "post": {
        "tags": [
          "Consent"
        ],
        "operationId": "createAttributeRequest",
        "summary": "Request raw attributes (starts consent)",
        "description": "Ask the subject to release raw attributes. Creates a PENDING request and pushes a consent prompt to their Valyd app. You then poll the result endpoint. The user must pass a face check before they can approve. Expires in 10 minutes.\n\nSDK: `valyd.attributes.request({ attributes, valydId, purpose })` — it generates the keypair and decrypts the result for you.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "attributes",
                  "requester_public_key",
                  "valyd_id"
                ],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "Your application client_id."
                  },
                  "attributes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Requested attributes. Raw identity: `full_name` (alias `legal_name`), `first_name`, `last_name`, `email`, `phone`, `dob`, `country`. Proofs (non-PII, preferred over raw `dob`): `id_verified`, `is_16_plus`, `is_18_plus`, `is_21_plus`, `is_30_plus`, `is_65_plus`. Unknown values are dropped; if nothing releasable remains you get 400."
                  },
                  "requester_public_key": {
                    "type": "string",
                    "description": "base64 of your 32-byte X25519 PUBLIC key. The approved payload is sealed to it. SDK: `generateRequesterKeypair()`."
                  },
                  "valyd_id": {
                    "type": "string",
                    "description": "The subject: the valyd_id you received at login (e.g. valyd_ab12…). Legacy alias: anon_id."
                  },
                  "purpose": {
                    "type": "string",
                    "description": "Human-readable reason, shown to the user on the consent screen. Be specific — vague purposes get denied."
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "Optional. Where to send the user after they decide."
                  },
                  "state": {
                    "type": "string",
                    "description": "Optional. Echoed back on redirect (CSRF)."
                  },
                  "managed_private_key": {
                    "type": "string",
                    "description": "Optional. base64 of your 32-byte X25519 SECRET key, handing custody to Valyd so we open the payload for you (stored encrypted) and `result` returns plaintext. OMIT for true end-to-end — then only you can decrypt."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consent requested.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "description": "Poll the result endpoint with this."
                        },
                        "status": {
                          "type": "string",
                          "example": "pending"
                        },
                        "attributes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The attributes actually accepted."
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No releasable attributes, or requester_public_key is not base64 of a 32-byte X25519 key."
          },
          "401": {
            "description": "Unknown or missing client_id."
          }
        }
      }
    },
    "/api/auth/attribute-request/{requestId}/result": {
      "parameters": [
        {
          "name": "requestId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "request_id from the create call."
        }
      ],
      "get": {
        "tags": [
          "Consent"
        ],
        "operationId": "getAttributeRequestResult",
        "summary": "Fetch the sealed payload",
        "description": "Poll until the user decides. `pending` = not yet. Once approved you get the sealed payload ONCE (single-use, short-lived) — store it immediately.\n\nSelf-custody: decrypt `sealed_payload` with your X25519 secret key (SDK does this automatically). Managed custody: `custody: \"valyd\"` and `attributes` come back as plaintext.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your client_id — must match the one that created the request."
          }
        ],
        "responses": {
          "200": {
            "description": "pending, or released.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "released"
                          ]
                        },
                        "custody": {
                          "type": "string",
                          "enum": [
                            "self",
                            "valyd"
                          ],
                          "description": "`valyd` only when you supplied managed_private_key."
                        },
                        "attributes": {
                          "type": "object",
                          "description": "Plaintext — managed custody only."
                        },
                        "sealed_payload": {
                          "type": "string",
                          "description": "Self-custody: base64 sealed box, decrypt with your secret key."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User denied the request."
          },
          "404": {
            "description": "Request not found (or not yours)."
          },
          "410": {
            "description": "Expired: the one-time code lapsed or the payload was purged."
          }
        }
      }
    },
    "/api/auth/oidc/licenses": {
      "get": {
        "tags": [
          "OIDC Resources"
        ],
        "summary": "Get professional licenses",
        "description": "Returns a snapshot of the user's professional licenses verified by Valyd (e.g. nursing, CDL, CPR/BLS, Food Handler). The required scope is not declared in the source docs; `doctor_license` is the likely scope but is unconfirmed.",
        "operationId": "oidcLicenses",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "License snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicensesResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "licenses": [
                      {
                        "type": "nurse_licenses",
                        "number": "RN-123456",
                        "status": "Active",
                        "expires_on": "2027-06-30",
                        "issuer": "CA Board of Nursing"
                      },
                      {
                        "type": "cpr_certification",
                        "number": "CPR-998877",
                        "status": "Active",
                        "expires_on": "2026-05-15",
                        "issuer": "American Heart Association"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/auth/oidc/verifications": {
      "get": {
        "tags": [
          "OIDC Resources"
        ],
        "summary": "Get identity verifications",
        "description": "Returns ID-verification status and face-match confidence. Requires the `verifications` scope.",
        "operationId": "oidcVerifications",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Verification snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationsResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "verifications": {
                      "id_verified": true,
                      "face_match": 0.98,
                      "last_checked": "2025-09-11T12:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OIDC access token from /api/auth/oidc/token. Send as Authorization: Bearer <access_token>."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Valyd error envelope — used by the non-OIDC Valyd APIs and the account resource endpoints (/licenses, /verifications). The OIDC protocol endpoints (token, userinfo, register) use `OAuthError` instead.",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "invalid_client",
                  "invalid_token",
                  "insufficient_scope",
                  "invalid_grant",
                  "invalid_request",
                  "access_denied"
                ],
                "description": "Machine-readable error code."
              },
              "message": {
                "type": "string",
                "description": "Human-readable message."
              }
            }
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "required": [
          "grant_type",
          "client_id",
          "client_secret",
          "code"
        ],
        "properties": {
          "grant_type": {
            "type": "string",
            "const": "authorization_code"
          },
          "client_id": {
            "type": "string",
            "description": "Your Client ID from the Developer Portal."
          },
          "client_secret": {
            "type": "string",
            "description": "Your Client Secret (server-side only)."
          },
          "code": {
            "type": "string",
            "description": "One-time authorization code from the callback (valid 5 minutes)."
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "type": "object",
            "properties": {
              "access_token": {
                "type": "string"
              },
              "token_type": {
                "type": "string",
                "examples": [
                  "Bearer"
                ]
              },
              "expires_in": {
                "type": "integer",
                "description": "Access-token lifetime in seconds.",
                "examples": [
                  900
                ]
              },
              "refresh_token": {
                "type": "string"
              },
              "user": {
                "$ref": "#/components/schemas/TokenUser"
              }
            }
          }
        }
      },
      "TokenUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "username": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "valyd_id": {
            "type": "string"
          },
          "avatar_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RefreshRequest": {
        "type": "object",
        "required": [
          "client_id",
          "client_secret",
          "refresh_token"
        ],
        "properties": {
          "refresh_token": {
            "type": "string"
          },
          "rotate_refresh": {
            "type": "boolean",
            "description": "Defaults to true. Set false only if you cannot store the replacement token."
          },
          "client_id": {
            "type": "string",
            "description": "Your application's client ID."
          },
          "client_secret": {
            "type": "string",
            "description": "Your client secret (server-side only)."
          }
        }
      },
      "RefreshResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "type": "object",
            "properties": {
              "tokens": {
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": "string"
                  },
                  "token_type": {
                    "type": "string",
                    "examples": [
                      "Bearer"
                    ]
                  },
                  "expires_in": {
                    "type": "integer",
                    "examples": [
                      900
                    ]
                  },
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "UserInfoResponse": {
        "type": "object",
        "required": [
          "sub"
        ],
        "properties": {
          "sub": {
            "type": "string"
          },
          "valyd_id": {
            "type": "string"
          },
          "preferred_username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "id_verified": {
            "type": "boolean"
          },
          "email_verified": {
            "type": "boolean",
            "const": false,
            "description": "Always false — Valyd does not verify email ownership; see `id_verified`."
          }
        }
      },
      "LicensesResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "type": "object",
            "properties": {
              "licenses": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "number": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "expires_on": {
                      "type": "string",
                      "format": "date"
                    },
                    "issuer": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "VerificationsResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "type": "object",
            "properties": {
              "verifications": {
                "type": "object",
                "properties": {
                  "id_verified": {
                    "type": "boolean"
                  },
                  "face_match": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Face-match confidence (0–1)."
                  },
                  "last_checked": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        }
      },
      "OidcDiscovery": {
        "type": "object",
        "properties": {
          "issuer": {
            "type": "string",
            "format": "uri"
          },
          "authorization_endpoint": {
            "type": "string",
            "format": "uri"
          },
          "token_endpoint": {
            "type": "string",
            "format": "uri"
          },
          "userinfo_endpoint": {
            "type": "string",
            "format": "uri"
          },
          "jwks_uri": {
            "type": "string",
            "format": "uri"
          },
          "response_types_supported": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "grant_types_supported": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject_types_supported": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "id_token_signing_alg_values_supported": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scopes_supported": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "token_endpoint_auth_methods_supported": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "claims_supported": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "end_session_endpoint": {
            "type": "string",
            "format": "uri"
          },
          "registration_endpoint": {
            "type": "string",
            "format": "uri",
            "description": "Only present when Dynamic Client Registration is enabled."
          },
          "response_modes_supported": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "code_challenge_methods_supported": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "prompt_values_supported": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "claim_types_supported": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "request_parameter_supported": {
            "type": "boolean"
          },
          "request_uri_parameter_supported": {
            "type": "boolean"
          },
          "claims_parameter_supported": {
            "type": "boolean"
          },
          "frontchannel_logout_supported": {
            "type": "boolean"
          },
          "backchannel_logout_supported": {
            "type": "boolean"
          },
          "authorization_response_iss_parameter_supported": {
            "type": "boolean"
          },
          "resource_indicators_supported": {
            "type": "boolean"
          }
        }
      },
      "OidcTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "id_token": {
            "type": "string",
            "description": "Signed JWT (RS256)."
          },
          "refresh_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "examples": [
              "Bearer"
            ]
          },
          "expires_in": {
            "type": "integer",
            "examples": [
              3600
            ]
          }
        }
      },
      "OidcUserInfo": {
        "type": "object",
        "properties": {
          "sub": {
            "type": "string"
          },
          "preferred_username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "email_verified": {
            "type": "boolean",
            "description": "Always false — Valyd does not verify email ownership (identity verification is `id_verified`)."
          },
          "name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "picture": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "OAuthError": {
        "type": "object",
        "description": "Standard OAuth 2.0 / OIDC error body (RFC 6749 §5.2, RFC 6750 §3, RFC 7591 §3.2.2). `error` is a string. Returned by the OIDC token, userinfo and register endpoints with `Cache-Control: no-store`.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code.",
            "examples": [
              "invalid_grant",
              "invalid_request",
              "invalid_client",
              "invalid_scope",
              "unsupported_grant_type",
              "invalid_token",
              "insufficient_scope",
              "invalid_redirect_uri",
              "invalid_client_metadata"
            ]
          },
          "error_description": {
            "type": "string",
            "description": "Human-readable description."
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request — e.g. `invalid_grant` (bad/expired/used code or refresh token) or `invalid_request` (missing parameter).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "success": false,
              "error": {
                "code": "invalid_grant",
                "message": "refresh_token is invalid or expired"
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication failed — `invalid_client` (bad client credentials) or `invalid_token` (token invalid/expired).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "success": false,
              "error": {
                "code": "invalid_token",
                "message": "token invalid/expired"
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "The access token lacks the scope required by this endpoint.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "success": false,
              "error": {
                "code": "insufficient_scope",
                "message": "The request requires the profile scope"
              }
            }
          }
        }
      },
      "OAuthBadRequest": {
        "description": "RFC 6749 §5.2 error — `invalid_request`, `invalid_grant`, `invalid_scope`, or `unsupported_grant_type`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OAuthError"
            },
            "example": {
              "error": "invalid_grant",
              "error_description": "Invalid or expired authorization code"
            }
          }
        },
        "headers": {
          "Cache-Control": {
            "description": "Always `no-store`.",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "OAuthInvalidClient": {
        "description": "`invalid_client` — client authentication failed. Carries `WWW-Authenticate: Basic` when the client used HTTP Basic.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OAuthError"
            },
            "example": {
              "error": "invalid_client",
              "error_description": "Client authentication failed"
            }
          }
        },
        "headers": {
          "Cache-Control": {
            "description": "Always `no-store`.",
            "schema": {
              "type": "string"
            }
          },
          "WWW-Authenticate": {
            "description": "`Basic realm=\"valyd\", charset=\"UTF-8\"` when HTTP Basic was used.",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "BearerInvalidToken": {
        "description": "RFC 6750 — the access token is missing, invalid or expired (`invalid_token`; a request with no token gets a bare `Bearer realm=\"valyd\"` challenge).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OAuthError"
            },
            "example": {
              "error": "invalid_token",
              "error_description": "The access token is invalid or expired"
            }
          }
        },
        "headers": {
          "Cache-Control": {
            "description": "Always `no-store`.",
            "schema": {
              "type": "string"
            }
          },
          "WWW-Authenticate": {
            "description": "RFC 6750 challenge, e.g. `Bearer realm=\"valyd\", error=\"invalid_token\", error_description=\"...\"`.",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "BearerInsufficientScope": {
        "description": "RFC 6750 — the access token lacks the `openid` scope (`insufficient_scope`).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OAuthError"
            },
            "example": {
              "error": "insufficient_scope",
              "error_description": "The access token does not have the openid scope"
            }
          }
        },
        "headers": {
          "Cache-Control": {
            "description": "Always `no-store`.",
            "schema": {
              "type": "string"
            }
          },
          "WWW-Authenticate": {
            "description": "RFC 6750 challenge, e.g. `Bearer realm=\"valyd\", error=\"invalid_token\", error_description=\"...\"`.",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "BearerBadRequest": {
        "description": "RFC 6750 — `invalid_request` (e.g. the token was sent in both the header and the body).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OAuthError"
            },
            "example": {
              "error": "invalid_request",
              "error_description": "Send the access token in only one place"
            }
          }
        },
        "headers": {
          "Cache-Control": {
            "description": "Always `no-store`.",
            "schema": {
              "type": "string"
            }
          },
          "WWW-Authenticate": {
            "description": "RFC 6750 challenge, e.g. `Bearer realm=\"valyd\", error=\"invalid_token\", error_description=\"...\"`.",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
